# Python
__pycache__/
*.py[cod]

# Entorno virtual
venv/
.venv/
env/

# Variables de entorno y secretos
.env
.env.*
*.env

# Supabase archivos temporales
supabase/.temp/

# IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db